[Vv]im/
[Pp]ow/

# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
lazygit/state.yml
Icon?
ehthumbs.db
[Tt]humbs.db

atom/.*
atom/packages/
atom/dev/
atom/compile-cache/
atom/blob-store/
atom/recovery/
atom/storage/

plugin/

