Config { font = "xft:RobotoMono Nerd Font:pixelsize=12:antialias=true:hinting=true"
       , additionalFonts = ["xft:Font Awesome 6 Free Solid:pixelsize=12"
                           , "xft:Font Awesome 6 Brands:pixelsize=12"
       ]
       , borderColor = "black"
       , border = TopB
       , bgColor = "#24283b"
       , fgColor = "#c0caf5"
       , alpha = 255
       , position = TopSize L 100 24
       , textOffset = -1
       , iconOffset = -1
       , lowerOnStart = True
       , pickBroadest = False
       , persistent = False
       , hideOnStart = False
       , iconRoot = "."
       , allDesktops = True
       , overrideRedirect = True
       , commands = [ 
                        -- Echos a "penguin" icon in front of the kernel output.
                    Run Com "echo" ["\xf17c"] "penguin" 3600
                        -- Get kernel version (script found in .local/bin)
                    , Run Com ".local/bin/kernel" [] "kernel" 36000
                        -- Cpu usage in percent
                    , Run Cpu ["-t", "\xf2db cpu: <total>%","-H","50","--high","red"] 20
                        -- Ram used number and percent
                    , Run Memory ["-t", "\xf233 mem: <usedratio>% <used>M "] 20
                        -- Disk space free
                    , Run DiskU [("/", "\xf0c7 hdd: <free> free")] [] 60
                        -- Echos an "up arrow" icon in front of the uptime output.
                    , Run Com "echo" ["\xf0aa"] "uparrow" 3600
                        -- Uptime
                    , Run Uptime ["-t", "uptime: <days>d <hours>h <minutes>m"] 360
                        -- Echos a "bell" icon in front of the pacman updates.
                    , Run Com "echo" ["\xf0f3"] "bell" 3600
                        -- Check for pacman updates (script found in .local/bin)
                    , Run Com "apt-get -q -y --ignore-hold --allow-change-held-packages --allow-unauthenticated -s dist-upgrade | /bin/grep  ^Inst | wc -l" [] "pacupdate" 36000
                        -- Echos a "battery" icon in front of the pacman updates.
                    , Run Com "echo" ["\xf242"] "baticon" 3600

                        -- Battery
                    , Run BatteryP ["BAT0"] ["-t", "<acstatus><watts> (<left>%)"] 360
                        -- Time and date
                    , Run Date "\xf017 %b %d %Y %H:%M " "date" 50
                        -- Script that dynamically adjusts xmobar padding depending on number of trayer icons.
                    , Run Com ".config/xmobar/trayer-padding-icon.sh" [] "trayerpad" 20
                        -- Volume Icon
                    , Run Com "echo" ["\xf028"] "volicon" 3600
                        -- Volume
                    , Run Com "/bin/bash" ["-c", "~/.config/xmobar/get-volume.sh"] "myvolume" 1
                        -- Prints out the left side items such as workspaces, layout, etc.
                    , Run UnsafeStdinReader
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = " %UnsafeStdinReader% }{   <fc=#ecbe7b><action=`alacritty -e htop`>%cpu%</action></fc>    <fc=#ff6c6b><action=`alacritty -e htop`>%memory%</action></fc>    <fc=#c0caf5><action=`pavucontrol`>%volicon% %myvolume%</action></fc>    <fc=#c0caf5><action=`emacsclient -c -a 'emacs' --eval '(doom/window-maximize-buffer(dt/year-calendar))'`>%date%</action></fc>  %trayerpad% "
       -- , template = " %UnsafeStdinReader% }{ <box type=Bottom width=2 mb=2 color=#ecbe7b><fc=#ecbe7b><action=`alacritty -e htop`>%cpu%</action></fc></box>    <box type=Bottom width=2 mb=2 color=#ff6c6b><fc=#ff6c6b><action=`alacritty -e htop`>%memory%</action></fc></box>    <box type=Bottom width=2 mb=2 color=#a9a1e1><fc=#a9a1e1><action=`alacritty -e htop`>%disku%</action></fc></box>    <box type=Bottom width=2 mb=2 color=#98be65><fc=#98be65>%uparrow%  <action=`alacritty -e htop`>%uptime%</action></fc></box>    <box type=Bottom width=2 mb=2 color=#c678dd><fc=#c678dd>%bell%  <action=`alacritty -e sudo apt list –upgradeable`>%pacupdate%</action></fc></box>  <box type=Bottom width=2 mb=2 color=#46d9ff><fc=#46d9ff><action=`emacsclient -c -a 'emacs' --eval '(doom/window-maximize-buffer(dt/year-calendar))'`>%date%</action></fc></box> %trayerpad% "
       }
